body {
}

h1 {
    color: red;
	font-size: 20px;   
}

h2 {
    color: blue;
	font-size: 15px;   
}

p {
    font-size: 15px;
}

.image {
    position:relative;
    float: left;
}

.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}

#rounded1 {
    border-radius: 25px;
	border-style: solid;    
}